.time {
    text-align: center;
    padding: 32px;
    left: 0px;
    background: rgba(0, 200, 111, 0.15);
    margin-bottom: 10px;
    position:relative;
}

.time section {
    margin-bottom: 10% 30% 30%;
}

.time h3 {
    font-size: 1.5em;
    border-bottom: 4px solid;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    display: inline-block;
    padding: 8px;
}

.time .colaboradores{
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap; 
}
/*
.input-cor{
    position:absolute;
    top:20px;
    right: 50px;
}
*/
.input-cor{
    position: absolute;
    top: 20px;
    right: 50px;
    width: 37px;
    height: 35px;
    border: solid 1px #000;
    border-radius: 153px;
    transform: scale(1.05);
    background-color: white;
    padding: 5px;
}
